<p>NB: questa pagina verrà forse sostituita da una pagina del sito web della biblioteca</p>


<div>
  <ol>
    <li><%= link_to('Elenco dei titoli', iss_journals_path) %></li>
    <li><%= link_to('Ricerca articoli', iss_articles_path) %></li>
    <li><%= link_to('Ricerca full-text', iss_pages_path) %></li>
  </ol>
</div>




