<%
# lastmod 23 gennaio 2009
# lastmod 18 dicembre 2008
%>


<div style="font-size: 120%; border: 2px outset;margin: 2em 20em 0 2em;padding: 1em">

<p>
L'archivio delle risorse digitalizzate presenti nell'elenco 
è strutturato a tre diversi livelli:
<ol>
<li>per titolo</li>
<li>per fascicolo (o volume)</li>
<li>per singolo articolo (o capitolo, pagina)</li>
</ol>

Selezionando un titolo, viene presentato l'elenco dei fascicoli ordinato
cronologicamente o delle parti componenti.<br/>
La successiva scelta di un determinato fascicolo, o parte, permette di prendere visione
dell'indice del suo contenuto.<br/>
A seguito della selezione di un articolo o di una rubrica, si accede
al testo completo attraverso il relativo PDF.<br/>

Qualora il titolo di una rivista sia variato nel tempo, viene utilizzata per
l'intero arco della sua pubblicazione la sua forma
pi&ugrave; conosciuta.
Per es., il <em>Bollettino del Club alpino italiano</em>
viene sempre indicato in tal modo, anche quando assume, dal 1868 al
1869, il titolo <em>Bullettino del Club alpino italiano</em>.
<br/>
Il collegamento con il catalogo in linea delle Biblioteche civiche torinesi rende possibile la ricostruzione delle
relazioni tra le diverse formulazioni del titolo di una singola
testata.
</p>

<%= link_to(content_tag(:h2, ">>Elenco dei titoli disponibili<<"), iss_journals_path)-%>

<hr/>

<h6>Ultimo aggiornamento: 13/5/2019
  <br/>Precedente aggiornamento: 18/12/2008</h6>

</div>




