<%= content_tag(:h4, @iss_journal.title) %>

<h3>
<%=
 link_to("Scheda bibliografica completa", "https://bctwww.comperio.it/sbn?#{@iss_journal.bid}") if @iss_journal.id!=23
%>
</h3>


<%= render partial:'iss_pages/search_form' %>

<%= render :partial=>'iss_issues/index' %>


