<h3>Consultazione prestiti Sezione <em>Goethe Institut</em></h3>
<%= content_tag(:h4, "Dal #{params[:date_from]} al #{params[:date_to]}") if !params[:date_from].blank? %>


<%= content_tag(:h2, "#{@clavis_loans.total_entries} prestiti") %>
<%= will_paginate @clavis_loans, renderer: BootstrapPagination::Rails %>


<%=
   case params[:view]
   when 'by_month'
    content_tag(:div, clavis_loans_view_by_month(@clavis_loans))
   when 'by_gender'
    content_tag(:div, clavis_loans_view_by_gender(@clavis_loans))
   when 'by_citizenship'
    content_tag(:div, clavis_loans_view_by_citizenship(@clavis_loans))   
   else
    content_tag(:div, clavis_loans_view(@clavis_loans))
   end
%>



