<% if @records.length>0 %>
<%= content_tag(:b, "Stampa di #{@records.length} richieste su #{@totale_records}") %>
<br/>
<%=
  if @patron_id.blank?
  button_to('Stampa elenco cumulativo per magazzino', print_closed_stack_item_requests_path(format:'pdf'), method:'get')
  else
  link_to('Stampa elenco per magazzino', print_closed_stack_item_requests_path(patron_id:@patron_id,reprint:@reprint,format:'pdf'), method:'get')
  end  
  %>
<% else %>
Non sono presenti richieste da stampare
<% end %>
<pre>
  <%=

  res=[]
  patrons = @records.group_by {|x| "#{x['patron_id']}"}
  res << "<br/><pre>\n</pre>"
  patrons.keys.sort.each do |p|
    patron=ClavisPatron.find(p)
    ticket=patron.csir_tickets.join(', ')
    ticket = "#{content_tag(:b, ticket)}" if !ticket.blank?
    res << "<h2><b>#{ticket}</b> #{patron.to_label}</h2>"
    patrons[p].each do |t|
      coll = t['collocazione'].strip
      space=' ' * (20 - coll.length)
      title = t['title'].strip
      res << "<br/><b>#{coll}</b>#{space}#{title[0..30]}".html_safe
    end
  end
  res.join.html_safe
  %>
  
</pre>
