<%= content_tag(:div, sp_bibliography_show(@sp_bibliography)) %>

<%= content_tag(:h4, "La bibliografia") %>



<%= content_tag(:div, sp_section_list_sections(@sp_bibliography.toplevel_sections)) %>

<!--
<h3>Titoli</h3>

<%= content_tag(:div, sp_items_list_items(@sp_bibliography.sp_items)) %>
-->
