<h3>Topografico non in Clavis</h3>

<%= render :partial => 'searchform' if can? :search, ExtraCard %>

<%= content_tag(:b, "Trovati #{@extra_cards.total_entries} items") %>
<%= will_paginate @extra_cards, renderer: BootstrapPagination::Rails %>


<%= extra_cards_shortlist(@extra_cards) %>
