
<%
   if params[:contact_note]=='@'
   sql="select cp.patron_id,cc.contact_value as email,cc.contact_note,cp.name,cp.lastname,cp.last_seen from clavis.patron cp join clavis.contact cc using(patron_id) where cc.contact_note~'@' order by lower(cc.contact_value);"
   sql="select cp.patron_id,cc.contact_value as email,cc.contact_note,cp.name,cp.lastname,cp.last_seen from clavis.patron cp join clavis.contact cc using(patron_id) where cc.contact_value~'@' and cc.contact_type not in('E','X') order by lower(cc.contact_value);"
   else
    sql="select cp.patron_id,cc.contact_value as email,cc.contact_note,cp.name,cp.lastname,cp.last_seen from clavis.patron cp join clavis.contact cc using(patron_id) where cc.contact_type='X' and cp.last_seen notnull order by lower(cc.contact_value);"
   end
%>


<div>
  <% if params[:contact_note]=='@' %>
  <h2>Contatti con indirizzo email nel campo "cellulare"</h2>
  <% else %>
    <h2>
    Elenco contatti contrassegnati come "Errati"; l'ultima colonna riporta la data di ultima attività dell'utente
    (prestito/restituzione)
  </h2>
  <br/
  <p>Importante: non vengono elencati gli utenti che hanno il campo "data di ultima attivà" nullo</p>
  <% end %>
    
  <table class="table table-striped">
    <% cnt=0 %>
<% ActiveRecord::Base.connection.execute(sql).each do |r| %>


<% u="http://sbct.comperio.it/index.php?page=Circulation.PatronPage&id=#{r['patron_id']}" %>


<%=
    cnt+=1
    last_seen=r['last_seen'].blank? ? '' : r['last_seen'].to_date
   content_tag(:tr, content_tag(:td, cnt, {class:'text-right'}) +
       content_tag(:td, r['email']) +
       content_tag(:td, link_to("#{r['name']} #{r['lastname']}",u,target:'_new')) +
       content_tag(:td, "#{r['contact_note']}") +
       content_tag(:td, last_seen))
%>

<% end %>
</table>
</div>

