<%= content_tag(:h4, link_to(@iss_page.to_label,iss_article_path(@iss_page.article))) %>

<%=
  content_tag(:p, link_to("[edit]", edit_iss_page_path)) if can?(:manage, IssPage)
%>

<%= iss_page_link_to_pdf(@iss_page,600) %>

<pre>
  <%=
    t = @iss_page.fulltext
    t = '' if t.nil?
    @qs.split.each do |p|
     p.gsub!('_', ' ')
     t = t.gsub(/(#{p})/i,'<span style="background-color:yellow">\1</span>')
    end
    t.html_safe
  %>
</pre>
