<% html=clavis_consistency_note_casse(@clavis_consistency_note).html_safe %>
jQuery('.panel-title a',jQuery('#issues').parent()).text('Fascicoli (click per maggiori informazioni)');
// jQuery('.collapsed').first().attr('class', 'in')
// jQuery('#issues').toggle();
<% if !html.blank? %>
jQuery('#issues').after('<p>Solo per il materiale della <b>Biblioteca Civica Centrale</b> in deposito esterno è necessario effettuare la prenotazione presso la Biblioteca:<%= html -%></p>');
<% end %>


