 <table class="lista_lettere">

  <tr style="text-align: left">
   <td>
     <%=
	fondo=@fondo_corrente.nil? ? '' : " dal <b>Fondo #{@fondo_corrente.denominazione}</b>"
       "#{@bct_letters.total_entries} lettere#{fondo}".html_safe if @bct_letters.total_entries!=1
     %>
   </td>
  </tr>


  <tr style="text-align: center">
   <td>
    <%= will_paginate @bct_letters, :previous_label=>'&laquo; Indietro', :inner_window=>1, :outer_window=>1,
        :next_label=>"Avanti &raquo;"
    %>
   </td>
  </tr>

  <% @bct_letters.each do |l| %>
  <% @bct_letter=l %>

   <tr>
    <td>
     <table class="singola_lettera">
       <%= render :partial=>'singola_lettera' %>
     </table>
    </td>
   </tr>
     
  <% end %>

 </table>
