/*
 * lastmod 18 luglio 2008
 * lastmod 12 maggio 2008
 */

.elenco_riviste {
  width: 100%;
  padding: 1px;
}
.elenco_riviste th {text-align: left;}
.elenco_riviste td {text-align: left;}


.dettaglio_fascicolo {
 vertical-align: top;
}

.immagine_pagina {
  padding: 8px;
  width: 300px;
  height: 448px;
}


