<!--
<% content_tag(:h1, @msg) %>

<%= link_to('Stampa segnaposto per libri in prestito', receipts_clavis_loans_url) %>
(da maggio 2014 è possibile stamparli <a href="http://sbct.comperio.it/index.php?page=Reports.OtherReports">direttamente da Clavis</a>)
<hr/>
<%= content_tag(:div, link_to('Controlli BID', clavis_manifestations_url)) %>

<hr/>
<% # content_tag(:div, link_to('Titoli con digitalizzazioni', shortlist_clavis_manifestations_url(:digit=>true))) %>

<%= link_to('MediaLibraryOnLine', 'http://bct.medialibrary.it/home/home.aspx') %>
<br/>
<%= link_to('Naxos', 'http://naxosml.medialibrary.it/') %>


-->

<pre>
Pagina di servizio a uso interno delle BCT
</pre>


<ul>
  <%= content_tag(:li, link_to('Periodici Civica Centrale (collocazioni <b>Per.</b>)'.html_safe,
      clavis_consistency_notes_path)) %>
  <%= content_tag(:li, link_to('Cerca esemplari', clavis_items_path)) %>
  <%= content_tag(:li, link_to('Soggettario', subjects_path)) %>
  <%= content_tag(:li, link_to('Elenco provvisorio in formato CSV sale consultazione Centrale', 'http://456.selfip.net/consultazione.csv')) %>
</ul>
