<!--
<% content_tag(:h1, @msg) %>

<%= link_to('Stampa segnaposto per libri in prestito', receipts_clavis_loans_url) %>
(da maggio 2014 è possibile stamparli <a href="http://sbct.comperio.it/index.php?page=Reports.OtherReports">direttamente da Clavis</a>)
<hr/>
<%= content_tag(:div, link_to('Controlli BID', clavis_manifestations_url)) %>

<hr/>
<% # content_tag(:div, link_to('Titoli con digitalizzazioni', shortlist_clavis_manifestations_url(:digit=>true))) %>

<%= link_to('MediaLibraryOnLine', 'http://bct.medialibrary.it/home/home.aspx') %>
<br/>
<%= link_to('Naxos', 'http://naxosml.medialibrary.it/') %>


-->

<!--
<h1>Sistema in fase di allineamento dati dalle 9:15 di oggi 7 gennaio 2021</h1>
<h2>Il ripristino di tutte le funzioni è previsto entro le ore 12 di oggi</h2>
-->

<ul>

  <%= content_tag(:li, link_to('Periodici Civica Centrale (collocazioni <b>Per.</b>)'.html_safe,
      clavis_consistency_notes_path)) %>
  <%= content_tag(:li, link_to('Schema collocazioni Centrale (in elaborazione)', list_schema_collocazioni_centrales_path)) %>
  <%= content_tag(:li, link_to('Cerca esemplari', clavis_items_path)) if can? :search, ClavisItem %>
  <%= content_tag(:li, button_to('Prenotazioni su esemplare pendenti', clavis_item_requests_path, method:'get')) if can? :manage, ClavisItemRequest %>
  <%= content_tag(:li, button_to('Gestione liste e ordini periodici', serial_lists_path, method:'get')) if can? :index, SerialList and current_user.email!='tutti' %>

  <%= content_tag(:li, button_to('Periodici correnti', serial_lists_path, method:'get')) if current_user.nil? %>
  <%= content_tag(:li, link_to('Cerca esemplari (con filtro per data di ultima modifica)', clavis_items_path(mode:'lastmod'))) if can? :search, ClavisItem %>

  <%= content_tag(:li, link_to('Cerca esemplari Adabas 2011 ', '/adabas_inventories')) if can? :manage, AdabasInventory %>
  <%= content_tag(:li, link_to('Cerca periodici', clavis_items_path(item_media:'S'))) if can? :search, ClavisItem %>
  
  <%= content_tag(:li, link_to('Lista contatti errati', '/cp_wc')) if can? :wrong_contacts, ClavisPatron %>
  <%= content_tag(:li, link_to('Lista contatti con email nel campo cellulare', '/cp_wc?contact_note=@')) if can? :wrong_contacts, ClavisPatron %>

  <%= content_tag(:li, link_to('Soggettario', subjects_path)) %>
 <% if can? :manage, Container %>
 <%= content_tag(:li, link_to('Gestione contenitori fuori sede (Q)', containers_path(filter:'Q'))) %>
 <%= content_tag(:li, link_to('Gestione contenitori fuori sede (SC)', containers_path(filter:'SC'))) %>
 <% end %>
<% if can? :ricollocazioni, ClavisItem %>
  <%= content_tag(:li, link_to('Scaffale aperto', '/sa')) %>
<% end %>
<% if can? :ricolloca_scaffale_aperto, OpenShelfItem %>
  <%= content_tag(:li, link_to('Ricollocazioni', 'https://clavisbct.comperio.it/open_shelf_items/estrazione_da_magazzino')) %>
<% end %>

  <%= content_tag(:li, link_to('Ricerca proposte acquisto utenti opac', clavis_purchase_proposals_path)) if can? :manage, ClavisPurchaseProposal %>

  <%= content_tag(:li, link_to('Interrogazione prestiti', clavis_loans_path)) if can? :manage, ClavisLoan %>
  <%= content_tag(:li, link_to('Interrogazione prestiti Goethe Institut', view_goethe_loans_clavis_loans_path)) if can? :view_goethe_loans, ClavisLoan %>


  <%= content_tag(:li, button_to('Richieste a magazzino Civica Centrale', closed_stack_item_requests_path, method:'get')) if can? :index, ClosedStackItemRequest %>

  <% content_tag(:li, link_to('Estrazione da magazzino', estrazione_da_magazzino_open_shelf_items_path)) %>

  <%= content_tag(:li, link_to('Postazioni OPAC', work_stations_path)) if can? :manage, WorkStation %>


  <% if can? :search, ClavisItem %>
    <% content_tag(:li, link_to('Esemplari senza piano assegnato', clavis_items_path(senzapiano:'y'))) %>
    <% content_tag(:li, link_to('Esemplari (periodici) senza piano assegnato', "http://clavisbct.comperio.it/clavis_items?utf8=%E2%9C%93&clavis_item%5Btitle%5D=&clavis_item%5Bcollocation%5D=&clavis_item%5Binventory_number%5D=&clavis_item%5Bmanifestation_dewey%5D=&clavis_item%5Bowner_library_id%5D=2&clavis_item%5Bin_container%5D=0&clavis_item%5Bitem_status%5D=&clavis_item%5Bitem_media%5D=S&clavis_item%5Bopac_visible%5D=&commit=cerca&senzapiano=y")) %>
    <% content_tag(:li, link_to('Sesto piano', clavis_items_path(piano:'6° piano'))) %>
    <% content_tag(:li, link_to('Secondo seminterrato', clavis_items_path(piano:'Secondo seminterrato'))) %>
  <% end %>
  
  <%= content_tag(:li, link_to('Schema collocazioni Centrale', schema_collocazioni_centrales_path)) if can? :manage, SchemaCollocazioniCentrale %>

  <%= content_tag(:li, link_to('Bio-iconografico', bio_iconografico_cards_path(namespace:BioIconograficoCard.default_namespace(current_user)))) if !current_user.nil? and !BioIconograficoCard.default_namespace(current_user).nil? %>

  <%= content_tag(:li, link_to('Bibliografie', sp_bibliographies_path)) if can? :index, SpBibliography %>
  <%= content_tag(:li, button_to('Acquisti (nuova procedura CR in fase di sviluppo)', '/cr', method:'get', class:'btn btn-success')) if can? :homepage, SbctTitle %>

  
</ul>
<hr/>

<!--
<a href="https://bct.comperio.it/opac/detail/view/sbct:catalog:29009">
  <img src="https://clavisbct.comperio.it/opac_con_link_sbn.jpg"
       width="274" height="192"
       ></a>
-->
