<h1>Listing talking_books</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @talking_books.each do |talking_book| %>
  <tr>
    <td><%= link_to 'Show', talking_book %></td>
    <td><%= link_to 'Edit', edit_talking_book_path(talking_book) %></td>
    <td><%= link_to 'Destroy', talking_book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Talking book', new_talking_book_path %>
