<h2>Inserimento nuovo libro parlato</h2>
<%= render partial:'edit' %>
<%= link_to 'Annulla inserimento nuovo titolo', talking_books_path, data: { confirm: "Vuoi interrompere l'inserimento del titolo?" } %>
