<%= content_tag(:h4, "Fatture") %>
<p>
(dati importati da files Excel presenti sul sito di Leggere, ma sarebbe meglio farsi dare
la
<a href="https://www.fatturapa.gov.it/it/index.html">fattura elettronica vera e propria</a>, in XML)
</p>
<%= content_tag(:div, sbct_invoices_list(@sbct_invoices)) %>
