<h2>Sign in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :opac_username, required: true, autofocus: true %>
    <%= f.input :opac_secret, as: 'password', required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign in" %>
  </div>
<% end %>


