
<!DOCTYPE html>
<html lang="it" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">
  <head>
    <meta charset="utf-8" />
<meta name="Generator" content="Drupal 8 (https://www.drupal.org)" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="/core/misc/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="alternate" hreflang="it" href="https://bct.comune.torino.it/node/1153" />
<link rel="canonical" href="https://bct.comune.torino.it/node/1153" />
<link rel="shortlink" href="https://bct.comune.torino.it/node/1153" />
<link rel="revision" href="https://bct.comune.torino.it/node/1153" />

    <title>Catalogo di autografi. | Biblioteche Civiche Torinesi</title>
    <link rel="stylesheet" media="all" href="/sites/default/files/css/css_--dvudM5TL88IFCJyGmipKPG6b5NktncP7aixXzyqvA.css" />
<link rel="stylesheet" media="all" href="/sites/default/files/css/css_ddcc-hd5DM0DE6weObkD1BpMEA901BkamqIX_4tovuI.css" />

    
<!--[if lte IE 8]>
<script src="/sites/default/files/js/js_VtafjXmRvoUgAzqzYTA3Wrjkx9wcWhjP0G4ZnnqRamA.js"></script>
<![endif]-->

  </head>
  <body class="user-anonymous path-node node--type-manoscritti">
    <a href="#main-content" class="visually-hidden focusable skip-link">
      Salta al contenuto principale
    </a>
    
      <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
    <div class="page">

  <main class="main" role="main" id="main-content">

        <header class="page__header">

            <div id="navbar-top">
        <div class="container">
            <div class="region region-top-header">
    

  <div id="block-istituzione-2" class="block block-block-content block-block-content9aec5a72-7d6f-4b8e-b1a0-954571066488 block-content-basic">

  
    
      <div class="content">
      
            <div class="field field--name-body field--type-text-with-summary"><div class="basic__body">
<p><span class="sr-only">Istituzione di appartenenza</span> <a href="http://www.comune.torino.it/"><img alt="Città di Torino" class="img-fluid d-inline-block align-top" src="/themes/custom/bct/assets/im/logo_torino.png" /></a></p>
</div>
</div>
      
    </div>
  

  </div>


  <div id="block-quicklink" class="block block-system block-system-menu-blockquicklink">

  
    
      <div class="content">
      
              <ul data-region="top_header" class="nav">
                          <li class="nav-item">
                        <a href="/sedi-orari" class="nav-link" data-drupal-link-system-path="sedi-orari">Le biblioteche</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/" class="nav-link" data-drupal-link-system-path="&lt;front&gt;">Newsletter</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/faq" class="nav-link" data-drupal-link-system-path="faq">Faq</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>


  <div id="block-bloccosocial" class="block-social block block-block-content block-block-content993901f8-80c6-4efc-8586-f7a9f177c1b9 block-content-basic">

  
    
      <div class="content">
      
            <div class="field field--name-body field--type-text-with-summary"><div class="field field--name-body field--type-text-with-summary">
<p class="sr-only">seguici su</p>

<ul class="social"><li><a class="keyFocusNone" href="https://www.facebook.com/BibliotechecivicheTorinesi/" target="_blank"><em class="fab fa-facebook-f"><span class="sr-only">Facebook</span></em></a></li>
	<li><a class="keyFocusNone" href="https://www.instagram.com/Bibliotechecivichetorinesi/" target="_blank"><em class="fab fa-instagram"><span class="sr-only">Instagram</span></em></a></li>
	<li><a class="keyFocusNone" href="#" target="_blank"><em class="fab fa-youtube"><span class="sr-only">Youtube</span></em></a></li>
</ul></div>
</div>
      
    </div>
  

  </div>


  <div id="block-bcticonsearch" class="iconSearch block block-block-content block-block-content3eb754e7-ca19-4fc0-bd3a-1184ff53f654 block-content-basic">

  
    
      <div class="content">
      
            <div class="field field--name-body field--type-text-with-summary"><div id="block-csiiconsearch" class="iconSearch container-block block block-block-content block-block-contente4669259-0d94-4a69-a7b2-4b3e7be57936">
<div class="row-block">
<div class="col-block">

  
    
      
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><button class="icon-search fa fa-search keyFocusNone" aria-hidden="true"></button>
</div>
      
  </div>
</div>
</div></div>
      
    </div>
  

  </div>

  </div>

        </div>
      </div>
      
      <div id="header-main">
        <div class="container">
          <div class="row">

              <div class="region region-header">
    
  
  
    <a href="/" rel="home" class="navbar-brand">
              <img src="/themes/custom/bct/logo.svg" alt="Biblioteche Civiche Torinesi" class="img-fluid d-inline-block align-top" />
            <span class="site-name">Biblioteche Civiche Torinese</span>
    </a>

	
    

  </div>


                          <div class="region region-header-form">
    

  <div id="block-megamenu" class="block block-system block-system-menu-blockmain">

  
    
      <div class="content">
      


    <ul data-region="header_form" class="menu menu-- nav"">
      

    <li class="menu-item">
       <a href="/" class="nav-link dropdown-toggle" data-toggle="dropdown">Libri e media</a>
     <div class="dropdown-menu dropdown-fullwidth megamenu">
       
    
  <div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-0 menu-type-default">
                <div class="layout layout--threecol-section layout--threecol-section--50-25-25">

          <div  class="layout__region layout__region--first">
        

  <div class="block block-block-content block-block-content013cbd4b-7bad-47f9-96a9-21b46ed362ca block-content-basic">

  
      <h2>Catalogo online</h2>
    
      <div class="content">
      
            <div class="field field--name-body field--type-text-with-summary"><div class="block-sottomenu-megamenu">
<p>Scopri tutti i nostri libri all'interno del catalogo online.</p>

<div class="action">
<ul><li><a class="bttn_sec" href="#">scopri</a></li>
	<li><a class="bttn_primy" href="https://bct.comperio.it/">Vai al catalogo</a></li>
</ul></div>
</div>
</div>
      
    </div>
  

  </div>


  <div class="block block-block-content block-block-contentf22d6ecc-f53d-4b4a-bce8-88ead372799f block-content-basic">

  
      <h2>Media Library OnLine</h2>
    
      <div class="content">
      
            <div class="field field--name-body field--type-text-with-summary"><div class="block-sottomenu-megamenu">
<p>Il prestito digitale delle Biblioteche Civiche Torinese</p>

<div class="action">
<ul><li><a class="bttn_sec" href="#">scopri</a></li>
	<li><a class="bttn_primy" href="https://bct.medialibrary.it/media/ricerca.aspx">Vai al MLOL</a></li>
</ul></div>
</div>
</div>
      
    </div>
  

  </div>

      </div>
    
          <div  class="layout__region layout__region--second">
        

  <div class="block block-block-content block-block-contentcb4de595-cd87-47cc-8b05-ff6bb261e607 block-content-titololink">

  
    
      <div class="content">
      
            <div class="field field--name-field-collegamento field--type-link"><a href="/libri-media">SCEGLI</a></div>
      
    </div>
  

  </div>


  <div class="block block-system block-system-menu-blockscegli">

  
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <a href="/libri-media/libri" class="nav-link" data-drupal-link-system-path="node/537">Libri</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/libri-media/giornali-e-periodici" class="nav-link">Giornali e periodici</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/libri-media/audio-musica" class="nav-link">Musica</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/libri-media/audio-musicali" class="nav-link">Audio musica</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/libri-media/audiolibri" class="nav-link" data-drupal-link-system-path="node/535">Audiolibri</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/libri-media/periodici" class="nav-link">Periodici</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/libri-media/video" class="nav-link" data-drupal-link-system-path="node/536">Video</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
          <div  class="layout__region layout__region--third">
        

  <div class="block block-system block-system-menu-blockscopri">

  
      <h2>Scopri</h2>
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <a href="/bibliografie" class="nav-link" data-drupal-link-system-path="bibliografie">Proposte bibliografiche</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/proposte-lettura" class="nav-link" data-drupal-link-system-path="proposte-lettura">Percorsi di lettura</a>
        
      </li>
                      <li class="nav-item">
                        <a href="https://bct.comperio.it/community/forum/reviews/" class="nav-link">I vostri consigli</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
  </div>
  <div class="layout layout--onecol">
    <div  class="layout__region layout__region--content">
      
    </div>
  </div>

      </div>



     </div>
    </li>
      

    <li class="menu-item">
       <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Sedi e servizi</a>
     <div class="dropdown-menu dropdown-fullwidth megamenu">
       
    
  <div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-0 menu-type-default">
                <div class="layout layout--twocol-section layout--twocol-section--50-50">

          <div  class="layout__region layout__region--first">
        

  <div class="block block-block-content block-block-content7cfd88b7-7180-4a6d-a068-1d1afdbb61a3 block-content-titololink">

  
    
      <div class="content">
      
            <div class="field field--name-field-collegamento field--type-link"><a href="/sedi-orari">SEDI E ORARI</a></div>
      
    </div>
  

  </div>


  <div class="block block-system block-system-menu-blocksedi-e-orari">

  
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <a href="/sedi-orari/villa-amoretti" class="nav-link" data-drupal-link-system-path="node/154"> Villa Amoretti</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/alberto-geisser" class="nav-link" data-drupal-link-system-path="node/494">Alberto Geisser</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/alessandro-passerin-dentreves" class="nav-link" data-drupal-link-system-path="node/200">Alessandro Passerin d&#039;Entrevès</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/bianca-guidetti-serra" class="nav-link" data-drupal-link-system-path="node/7">Bianca Guidetti Serra</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/bibliobus" class="nav-link" data-drupal-link-system-path="node/2">Bibliobus</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/cascina-marchesa" class="nav-link" data-drupal-link-system-path="node/45">Cascina Marchesa</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/centrale" class="nav-link" data-drupal-link-system-path="node/16">Centrale</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/cesare-pavese" class="nav-link" data-drupal-link-system-path="node/19">Cesare Pavese</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/dietrich-bonhoeffer" class="nav-link" data-drupal-link-system-path="node/36">Dietrich Bonhoeffer</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/don-lorenzo-milani" class="nav-link" data-drupal-link-system-path="node/17">Don Lorenzo Milani</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/francesco-cognasso" class="nav-link" data-drupal-link-system-path="node/201">Francesco Cognasso</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/i-ragazzi-e-le-ragazze-di-utoya" class="nav-link" data-drupal-link-system-path="node/198">I ragazzi e le ragazze di Utøya</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/italo-calvino" class="nav-link" data-drupal-link-system-path="node/31">Italo Calvino</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/luigi-carluccio" class="nav-link" data-drupal-link-system-path="node/158">Luigo Carluccio</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/mausoleo-della-bela-rosin" class="nav-link" data-drupal-link-system-path="node/37">Mausoleo della Bela Rosin</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/andrea-della-corte" class="nav-link" data-drupal-link-system-path="node/8">Musicale Andrea Della Corte</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/natalia-ginzburg" class="nav-link" data-drupal-link-system-path="node/20">Natalia Ginzburg</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/primo-levi" class="nav-link" data-drupal-link-system-path="node/141">Primo Levi</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/rita-atria" class="nav-link" data-drupal-link-system-path="node/95">Rita Atria</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
          <div  class="layout__region layout__region--second">
        

  <div class="block block-block-content block-block-content6e88d600-9642-4a40-a486-40ad4c7348b5 block-content-titololink">

  
    
      <div class="content">
      
            <div class="field field--name-field-collegamento field--type-link"><a href="/servizi-dotazioni">USARE LA BIBLIOTECA</a></div>
      
    </div>
  

  </div>


  <div class="block block-system block-system-menu-blockusare-la-biblioteca">

  
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <a href="/faq" class="nav-link" data-drupal-link-system-path="faq">FAQ</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/servizi-dotazioni/informazioni-bibliografiche-di-base" class="nav-link" data-drupal-link-system-path="taxonomy/term/135">Informazioni bibliografiche</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/servizi-dotazioni/accesso-freetorinowifi" class="nav-link" data-drupal-link-system-path="taxonomy/term/136">Wifi</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/servizi-dotazioni/navigazione-internet" class="nav-link" data-drupal-link-system-path="taxonomy/term/160">Postazioni internet</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/servizi-dotazioni/iscrizione" class="nav-link" data-drupal-link-system-path="taxonomy/term/157">Fare la tessera</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/servizi-dotazioni/prestito-e-restituzione" class="nav-link" data-drupal-link-system-path="taxonomy/term/134">Prestito e prenotazioni</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/servizi-dotazioni/prestito-interbibliotecario" class="nav-link" data-drupal-link-system-path="taxonomy/term/137">Prestito interbibliotecario</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/servizi-dotazioni/fotocopie-self-service" class="nav-link" data-drupal-link-system-path="taxonomy/term/138">Copie e riproduzioni</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/servizi-dotazioni/aule-informatiche" class="nav-link" data-drupal-link-system-path="taxonomy/term/156">Aule informatiche</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/servizi-dotazioni/visite-guidate" class="nav-link" data-drupal-link-system-path="taxonomy/term/155">Visitare la biblioteca</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
  </div>
  <div class="layout layout--onecol">
    <div  class="layout__region layout__region--content">
      
    </div>
  </div>

      </div>



     </div>
    </li>
      

    <li class="menu-item">
       <a href="/" class="nav-link dropdown-toggle" data-toggle="dropdown">Eventi e attività</a>
     <div class="dropdown-menu dropdown-fullwidth megamenu">
       
    
  <div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-0 menu-type-default">
                <div class="layout layout--twocol-section layout--twocol-section--50-50">

          <div  class="layout__region layout__region--first">
        

  <div class="block block-block-content block-block-contentcc8761d7-d204-4e60-a176-57756c6a6375 block-content-basic">

  
      <h2>Calendario</h2>
    
      <div class="content">
      
            <div class="field field--name-body field--type-text-with-summary"><div class="block-sottomenu-megamenu">
<p>Accedi al calendario per vedere tutti gli eventi in programma nelle biblioteche Civiche Torinese</p>

<div class="action">
<ul><li><a class="bttn_sec" href="#">Oggi</a></li>
	<li><a class="bttn_sec" href="#">Domani</a></li>
</ul></div>

<div class="action">
<ul><li><a class="bttn_primy" href="/eventi-attivita">Calendario</a></li>
</ul></div>
</div>
</div>
      
    </div>
  

  </div>

      </div>
    
          <div  class="layout__region layout__region--second">
        

  <div class="block block-system block-system-menu-blocktipologie">

  
      <h2>Tipologie</h2>
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <a href="/eventi-attivita?tipologia=113" class="nav-link" data-drupal-link-query="{&quot;tipologia&quot;:&quot;113&quot;}" data-drupal-link-system-path="eventi-attivita">Concerti e spettacoli</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/eventi-attivita?tipologia=114" class="nav-link" data-drupal-link-query="{&quot;tipologia&quot;:&quot;114&quot;}" data-drupal-link-system-path="eventi-attivita">Conferenze</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/eventi-attivita?tipologia=115" class="nav-link" data-drupal-link-query="{&quot;tipologia&quot;:&quot;115&quot;}" data-drupal-link-system-path="eventi-attivita">Consulenze professionali</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/eventi-attivita?tipologia=116" class="nav-link" data-drupal-link-query="{&quot;tipologia&quot;:&quot;116&quot;}" data-drupal-link-system-path="eventi-attivita">Corsi e laboratori</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/eventi-attivita?tipologia=117" class="nav-link" data-drupal-link-query="{&quot;tipologia&quot;:&quot;117&quot;}" data-drupal-link-system-path="eventi-attivita">Gruppi di lettura</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/eventi-attivita?tipologia=119" class="nav-link" data-drupal-link-query="{&quot;tipologia&quot;:&quot;119&quot;}" data-drupal-link-system-path="eventi-attivita">Lettura ad alta voce</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/eventi-attivita?tipologia=120" class="nav-link" data-drupal-link-query="{&quot;tipologia&quot;:&quot;120&quot;}" data-drupal-link-system-path="eventi-attivita">Manifestazioni</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/eventi-attivita?tipologia=118" class="nav-link" data-drupal-link-query="{&quot;tipologia&quot;:&quot;118&quot;}" data-drupal-link-system-path="eventi-attivita">Mostre</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
  </div>
  <div class="layout layout--onecol">
    <div >
      
    </div>
  </div>

      </div>



     </div>
    </li>
      

    <li class="menu-item">
       <a href="/" class="nav-link dropdown-toggle" data-toggle="dropdown">Programmi e progetti</a>
     <div class="dropdown-menu dropdown-fullwidth megamenu">
       
    
  <div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-0 menu-type-default">
                <div class="layout layout--twocol-section layout--twocol-section--50-50">

          <div  class="layout__region layout__region--first">
        

  <div class="block block-block-content block-block-content591fe055-74c8-46f3-bb5e-8090550e33ab block-content-titololink">

  
    
      <div class="content">
      
            <div class="field field--name-field-collegamento field--type-link"><a href="/programmi">PROGRAMMI DELLE BIBLIOTECHE</a></div>
      
    </div>
  

  </div>


  <div class="block block-system block-system-menu-blockprogrammi-delle-biblioteche">

  
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <a href="/programmi-progetti/programma/nati-leggere" class="nav-link" data-drupal-link-system-path="node/74">Nati per leggere</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/programma/appuntamenti-bambini-e-famiglie" class="nav-link" data-drupal-link-system-path="node/142">Appuntamenti per bambini e famiglie</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/programma/un-aiuto-lo-studio" class="nav-link" data-drupal-link-system-path="node/145">Un aiuto per lo studio</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/programma/biblioteche-e-scuole" class="nav-link" data-drupal-link-system-path="node/92">Biblioteche e scuole</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/programma/manualmente-laboratori-creativi" class="nav-link" data-drupal-link-system-path="node/147">Manualmente</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/programma/gruppi-di-lettura" class="nav-link" data-drupal-link-system-path="node/148">Gruppi di lettura</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/programma/educazione-digitale" class="nav-link" data-drupal-link-system-path="node/149">Educazione digitale</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/programma/babele-imparare-le-lingue-e-coltivarle" class="nav-link" data-drupal-link-system-path="node/150">Imparare le lingue e coltivarle</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/programma/lesperto-risponde" class="nav-link" data-drupal-link-system-path="node/151">L&#039;esperto risponde</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/programma/lettura-accessibile" class="nav-link" data-drupal-link-system-path="node/168">Lettura accessibile</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/programma/goethe-punkt" class="nav-link" data-drupal-link-system-path="node/152">Goethe Punkt</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
          <div  class="layout__region layout__region--second">
        

  <div class="block block-block-content block-block-contenta5eac682-18da-408b-9fde-41c2a79cc931 block-content-titololink">

  
    
      <div class="content">
      
            <div class="field field--name-field-collegamento field--type-link"><a href="/progetti">PROGETTI DI PROMOZIONE DELLA LETTURA</a></div>
      
    </div>
  

  </div>


  <div class="block block-system block-system-menu-blockprogetti-promozione-lettura">

  
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <a href="/programmi-progetti/progetto/leggermente" class="nav-link" data-drupal-link-system-path="node/513">Leggermente</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/progetto/passaggio-nord-ovest" class="nav-link" data-drupal-link-system-path="node/512">Passaggio a Nord Ovest</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/progetto/le-bct-portici-di-carta" class="nav-link" data-drupal-link-system-path="node/509">Le BCT per Portici di carta</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/progetto/le-bct-aspettando-il-salone-internazionale-del-libro" class="nav-link" data-drupal-link-system-path="node/511">Le BCT per Aspettando il Salone</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/progetto/le-bct-al-salone-internazionale-del-libro" class="nav-link" data-drupal-link-system-path="node/510">Le BCT per il Salone del libro</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/progetto/torino-che-legge" class="nav-link" data-drupal-link-system-path="node/1">Torino che legge</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
  </div>

      </div>



     </div>
    </li>
      

    <li class="menu-item">
       <a href="/" class="nav-link dropdown-toggle" data-toggle="dropdown">Infanzia e giovani</a>
     <div class="dropdown-menu dropdown-fullwidth megamenu">
       
    
  <div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-0 menu-type-default">
                <div class="layout layout--fourcol-section">

          <div  class="layout__region layout__region--first">
        

  <div class="block block-block-content block-block-content8454287d-5311-4206-baae-5993922e1558 block-content-basic">

  
      <h2>Scopri il catalogo per ragazzi</h2>
    
      <div class="content">
      
            <div class="field field--name-body field--type-text-with-summary"><div class="block-sottomenu-megamenu">
<p>Scopri tutti i libri dedicati ai bambini e ragazzi all'interno del catalogo online.</p>

<div class="action">
<ul><li><a class="bttn_sec" href="#">scopri</a></li>
	<li><a class="bttn_primy" href="#">Vai al catalogo</a></li>
</ul></div>
</div></div>
      
    </div>
  

  </div>


  <div class="block block-block-content block-block-content94b30076-db46-47c2-9d09-125d82c7df5f block-content-basic">

  
      <h2>Calendario</h2>
    
      <div class="content">
      
            <div class="field field--name-body field--type-text-with-summary"><div class="block-sottomenu-megamenu">
<p>Tutti gli appuntamenti dedicati ai bambini</p>

<div class="action">
<ul><li><a class="bttn_primy" href="#">Calendario</a></li>
</ul></div>
</div></div>
      
    </div>
  

  </div>

      </div>
    
          <div  class="layout__region layout__region--second">
        

  <div class="block block-block-content block-block-content2801d61f-6dec-4f85-8c31-e99ace8dd2e9 block-content-titololink">

  
    
      <div class="content">
      
            <div class="field field--name-field-collegamento field--type-link"><a href="/in-biblioteca-trovi">IN BIBLIOTECA TROVI</a></div>
      
    </div>
  

  </div>


  <div class="block block-system block-system-menu-blockin-biblioteca-trovi">

  
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <a href="/libri-media/da-sei-dieci-anni" class="nav-link">Da Sei a Dieci</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/libri-media/da-undici-quindici" class="nav-link">Da Undici a Quindici</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/libri-media/da-zero-cinque-anni" class="nav-link">Da Zero a Cinque</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/libri-media/giovani-adulti" class="nav-link">Giovani Adulti</a>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">libri ad alta leggibilità</span>
        
      </li>
                      <li class="nav-item">
                        <a href="/proposte-lettura/libri-bambini-adattati-simboli-caa" class="nav-link" data-drupal-link-system-path="node/172">libri in simboli caa</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
          <div  class="layout__region layout__region--third">
        

  <div class="block block-block-content block-block-contentd0dd2d85-ea8e-4709-a2a7-2d05d5fc5434 block-content-titololink">

  
    
      <div class="content">
      
            <div class="field field--name-field-collegamento field--type-link"><a href="/biblioteca-per-te">LA BIBLILOTECA PER TE</a></div>
      
    </div>
  

  </div>


  <div class="block block-system block-system-menu-blockin-biblioteca-puoi">

  
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <a href="/tessera-e-prestito-da-zero-diciotto-anni" class="nav-link" data-drupal-link-system-path="node/478">Tessera e prestito</a>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">Prendere in prestito</span>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">Ascoltare storie</span>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">Fare attività</span>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">Fare i compiti</span>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
          <div  class="layout__region layout__region--fourth">
        

  <div class="block block-block-content block-block-content368c3fe1-4e60-4daa-885b-7e14f856e618 block-content-titololink">

  
    
      <div class="content">
      
            <div class="field field--name-field-collegamento field--type-link"><a href="/per-insegnanti-genitori">PER INSEGNANTI E GENITORI</a></div>
      
    </div>
  

  </div>


  <div class="block block-system block-system-menu-blockprogrammi">

  
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <a href="/programmi-progetti/programma/nati-leggere" class="nav-link" data-drupal-link-system-path="node/74">Nati per leggere</a>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">Libri per tutti</span>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/programma/biblioteche-e-scuole" class="nav-link" data-drupal-link-system-path="node/92">Biblioteche e scuole</a>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">Alternanza scuola lavoro</span>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
  </div>

      </div>



     </div>
    </li>
      

    <li class="menu-item">
       <a href="/" class="nav-link dropdown-toggle" data-toggle="dropdown">Raccolte storiche e locali</a>
     <div class="dropdown-menu dropdown-fullwidth megamenu">
       
    
  <div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-0 menu-type-default">
                <div class="layout layout--threecol-section layout--threecol-section--33-34-33">

          <div  class="layout__region layout__region--first">
        

  <div class="block block-block-content block-block-contentca43e668-b6e7-49a8-8cab-75c0e37de9ab block-content-titololink">

  
    
      <div class="content">
      
            <div class="field field--name-field-collegamento field--type-link"><a href="/sedi-orari/centrale/sezione-manoscritti-e-rari">MANOSCRITTI E RARI</a></div>
      
    </div>
  

  </div>


  <div class="block block-system block-system-menu-blockmanoscritti-e-rari">

  
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <a href="/manoscritti" class="nav-link" data-drupal-link-system-path="manoscritti">Manoscritti</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/edizioni-antiche" class="nav-link" data-drupal-link-system-path="node/24">Edizioni antiche</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/fondi-personali" class="nav-link" data-drupal-link-system-path="node/25">Fondi personali</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/fondi-archivistici" class="nav-link" data-drupal-link-system-path="node/26">Fondi archivistici</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/carteggi" class="nav-link" data-drupal-link-system-path="node/27">Carteggi</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/raccolte-di-autografi" class="nav-link" data-drupal-link-system-path="node/28">Raccolte di autografi</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/materiale-fotografico" class="nav-link" data-drupal-link-system-path="node/29">Materiale fotografico</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/materiale-cartografico" class="nav-link" data-drupal-link-system-path="node/30">Materiale cartografico</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
          <div  class="layout__region layout__region--second">
        

  <div class="block block-block-content block-block-content4792d0ae-b767-4aa0-af8d-180d5151af77 block-content-titololink">

  
    
      <div class="content">
      
            <div class="field field--name-field-collegamento field--type-link"><a href="/archivi-digitali">ARCHIVI DIGITALI</a></div>
      
    </div>
  

  </div>


  <div class="block block-system block-system-menu-blockarchivi-digitali">

  
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <span class="nav-link">Internet archive</span>
        
      </li>
                      <li class="nav-item">
                        <a href="/repertorio-bio-iconografico" class="nav-link" data-drupal-link-system-path="node/88">Bio-Iconografico</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/biblioteca-della-pro-cultura-femminile" class="nav-link" data-drupal-link-system-path="node/89">Pro Cultura Femminile</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/museotorino" class="nav-link" data-drupal-link-system-path="node/144">MuseoTorino</a>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">Piattaforma digitale del Politecnico di Torino</span>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">Piattaforma digitale dell&#039;Università di Torino</span>
        
      </li>
                      <li class="nav-item">
                        <a href="/altri-archivi-0" class="nav-link" data-drupal-link-system-path="node/556">Altri archivi</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
          <div  class="layout__region layout__region--third">
        

  <div class="block block-block-content block-block-content01463366-28b7-4d25-be4c-dc0f4f8e0ae4 block-content-titololink">

  
    
      <div class="content">
      
            <div class="field field--name-field-collegamento field--type-link"><a href="/sedi-orari/centrale/ufficio-studi-locali-e-digitalizzazione-conservativa">STUDI LOCALI</a></div>
      
    </div>
  

  </div>


  <div class="block block-system block-system-menu-blockstudi-locali">

  
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <span class="nav-link">Risorse documentarie</span>
        
      </li>
                      <li class="nav-item">
                        <a href="/centrale/ufficio-studi-locali-e-digitalizzazione-conservativa" class="nav-link">Bibliografie di argomento locale</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/catalogazione-analitica-dei-periodici-di-interesse-locale" class="nav-link" data-drupal-link-system-path="node/87">Catalogazione analitica dei periodici di interesse locale</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/collaborazioni" class="nav-link" data-drupal-link-system-path="node/139">Collaborazioni</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/deposito-legale" class="nav-link" data-drupal-link-system-path="node/538">Deposito legale</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
  </div>

      </div>



     </div>
    </li>
    </ul>


    </div>
  

  </div>


  <div id="block-responsivemenumobileicon" class="responsive-menu-toggle-wrapper responsive-menu-toggle block block-responsive-menu block-responsive-menu-toggle">

  
    
      <div class="content">
      <a id="toggle-icon" class="toggle responsive-menu-toggle-icon" title="Menu" href="#off-canvas">
  <span class="icon"></span><span class="label">Menu</span>
</a>
    </div>
  

  </div>

  </div>

            
          </div>
        </div>
      </div>

      
    </header>
    
        <section class="page__content">
        <div class="region region-content">
    

  <div class="search-block-form block-ricerca-ttpagine block block-search block-search-form-block" data-drupal-selector="search-block-form" id="block-bct-search" role="search">

  
    
      <div class="content">
      <form action="/search/node" method="get" id="search-block-form" accept-charset="UTF-8">
<div class="content-element">
  <div class="js-form-item form-item js-form-type-search form-item-keys js-form-item-keys form-no-label form-group">
      
          <label for"formsearch" class="label_formsearch">Cosa cerchi?</label>
<input id="formsearch"  title="Inserisci i termini da cercare." data-drupal-selector="edit-keys" type="search" id="edit-keys" name="keys" value="" size="20" maxlength="128" placeholder="Cerca" class="form-search form-control" />

        </div>
<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><button data-drupal-selector="edit-submit" type="submit" id="edit-submit" value="Cerca" class="button js-form-submit form-submit"><span>Cerca</span></button>
</div>

  </div>
</form>

    </div>
  

  </div>


  <div id="block-bct-breadcrumbs" class="block block-system block-system-breadcrumb-block">

  
    
      <div class="content">
        <nav aria-label="breadcrumb" role="navigation" class="">
   <p>You are here</p>
    <ol class="breadcrumb">
              <li class="breadcrumb-item ">
                      <a href="/">Home</a>
                  </li>
              <li class="breadcrumb-item ">
                      <a href="/node">Node</a>
                  </li>
          </ol>
  </nav>

    </div>
  

  </div>


  <div id="block-bct-content" class="block block-system block-system-main-block">

  
    
      <div class="content">
      <article role="article" about=""  data-history-node-id="1153" class="node node--type-manoscritti node--view-mode-full ds-3col-stacked-override-radix panel-display moscone-flipped clearfix add-url-about-js">

<div  data-history-node-id="1153" class="node node--type-manoscritti node--view-mode-full ds-3col-stacked-override-radix panel-display moscone-flipped clearfix add-url-about-js">

<div class="conth_article">

  

  

      <div class="row">
      <div class="col-md-8 offset-md-2 radix-layouts-header panel-panel">
        <div  class="panel-panel-inner">
          
            <div class="field field--name-node-title field--type-ds"><h1>
  Catalogo di autografi.
</h1>
</div>
      
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-8 offset-md-2 radix-layouts-content panel-panel">
        <div  class="panel-panel-inner box_info">
          
  <div class="field field--name-field-id-csv field--type-string">
     <h2 class="field__label field-above">
      Id CSV    </h2>
                     <div class="field__item">40500</div>
              </div>

  <div class="field field--name-field-collocazione field--type-string">
     <h2 class="field__label field-above">
      Collocazione    </h2>
                     <div class="field__item">MS1</div>
              </div>

  <div class="field field--name-field-pdf-file field--type-string">
     <h2 class="field__label field-above">
      PDF file    </h2>
                     <div class="field__item">16</div>
              </div>

  <div class="field field--name-field-autore field--type-string">
     <h2 class="field__label field-above">
      Autore    </h2>
                     <div class="field__item">Nomis di Cossilla, Luigi (1793-1859)</div>
              </div>

  <div class="field field--name-field-titolo-manoscritto field--type-string-long">
     <h2 class="field__label field-above">
      Titolo manoscritto    </h2>
                     <div class="field__item">Catalogo di autografi.</div>
              </div>

  <div class="field field--name-field-data-manoscritto field--type-string">
     <h2 class="field__label field-above">
      Data    </h2>
                     <div class="field__item">sec. 19.</div>
              </div>

  <div class="field field--name-field-luogo-manoscritto field--type-string">
     <h2 class="field__label field-above">
      Luogo    </h2>
                     <div class="field__item">[Torino]</div>
              </div>

  <div class="field field--name-field-dimensioni field--type-string">
     <h2 class="field__label field-above">
      Dimensioni    </h2>
                     <div class="field__item">375 x 250</div>
              </div>

  <div class="field field--name-field-numero-carte field--type-string-long">
     <h2 class="field__label field-above">
      Numero carte    </h2>
                     <div class="field__item">239 p. e [71] c. bianche</div>
              </div>

  <div class="field field--name-field-note field--type-string-long">
     <h2 class="field__label field-above">
      Note    </h2>
                     <div class="field__item">Una seconda copia si trova nel fondo Cossilla.</div>
              </div>

  <div class="field field--name-field-microfilm field--type-string">
     <h2 class="field__label field-above">
      Microfilm    </h2>
                     <div class="field__item">MIC 13/1</div>
              </div>

        </div>
      </div>
    </div>

    
    
 


  </div>

</div>

</article>

    </div>
  

  </div>
<div data-drupal-messages-fallback class="hidden"></div>

  </div>


           </section>
    


    
  </main>

  <!-- BACK TOP TOP BUTTON -->
  <div id="back-to-top" data-spy="affix" data-offset-top="300"></div>
  <!-- BACK TO TOP BUTTON -->

  
    <footer class="page__footer" role="contentinfo">
    <div class="container">
      <div class="row">
      <div class="col-md-3">
          <p>
            <img alt="Biblioteche Torino" class="img-fluid d-inline-block align-top" src="themes/custom/bct/assets/im/logo.png">
          </p>
          <h2>Partner</h2>
          <p>
              <img alt="Intesa San Paolo" class="img-fluid d-inline-block align-top" src="themes/custom/bct/assets/im/logo_sanpaolo.png">
          </p>

        </div>
        
    

  <div id="block-documentazione" class="block-footer-documentazione block block-system block-system-menu-blockdocumentazione">

  
      <h2>Documentazione</h2>
    
      <div class="content">
      
              <ul data-region="footer" class="nav">
                          <li class="nav-item">
                        <a href="/carta-dei-servizi" class="nav-link" data-drupal-link-system-path="node/455">Carta dei servizi</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/carta-delle-collezioni" class="nav-link" data-drupal-link-system-path="node/179">Carta delle collezioni</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/tariffe-servizi-e-spazi" class="nav-link" data-drupal-link-system-path="node/502">Tariffe servizi e spazi</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/modulistica" class="nav-link" data-drupal-link-system-path="node/480">Modulistica</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/informativa-sul-trattamento-dei-dati-personali" class="nav-link" data-drupal-link-system-path="node/517">Informativa dati personali</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>


  <div id="block-donaesostieni" class="block-footer-dona block block-system block-system-menu-blockdona-e-sostieni">

  
      <h2>Dona e sostieni</h2>
    
      <div class="content">
      
              <ul data-region="footer" class="nav">
                          <li class="nav-item">
                        <a href="http://www.comune.torino.it/artbonus/" class="nav-link">Art Bonus</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/disciplinare-le-donazioni-di-materiale-documentario" class="nav-link" data-drupal-link-system-path="node/177">Donazioni di libri</a>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">Patto per la lettura</span>
        
      </li>
                      <li class="nav-item">
                        <a href="/proporre-attivita-culturali" class="nav-link" data-drupal-link-system-path="node/191">Proporre attività culturali</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/volontariato-biblioteca" class="nav-link" data-drupal-link-system-path="node/193">Volontariato in biblioteca</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>


  <div id="block-chisiamo" class="block-footer-chisiamo block block-system block-system-menu-blockchi-siamo">

  
      <h2>Chi siamo</h2>
    
      <div class="content">
      
              <ul data-region="footer" class="nav">
                          <li class="nav-item">
                        <a href="" class="nav-link">Uffici centrali</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/organigramma" class="nav-link" data-drupal-link-system-path="node/548">Organigramma</a>
        
      </li>
                      <li class="nav-item">
                        <a href="" class="nav-link">La nostra storia</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>



        </div>
        <div class="row">

                <div class="region region-footer-bottom">
    

  <div id="block-contatti-2" class="block block-block-content block-block-contentbb54ba5a-d916-4ea9-9073-0ae813b436cd">

  
      <h2>Contatti</h2>
    
      <div class="content">
      
            <div class="field field--name-body field--type-text-with-summary"><div class="box_contatti_content">
<p>Settore Sistema bibliotecario urbano della Città di Torino - Via della Cittadella 5 - 10122 Torino</p>

<p>Segreteria: tel. 01101129800; fax 01101129900 Informazioni bibliografiche: tel. 01101129812</p>

<p>E-mail: biblioteche.civiche@comune.torino.it</p>

<p>PEC: Biblioteche@cert.comune.torino.it</p>
</div>
</div>
      
    </div>
  

  </div>


  <div id="block-footercertificazionediqualita" class="block block-block-content block-block-content6ae8aaaa-fe2a-4f46-90d8-616afc7597a9">

  
      <h2>Certificazione di qualita</h2>
    
      <div class="content">
      
            <div class="field field--name-body field--type-text-with-summary"><div class="footer-box-qualita">
<p>Le Biblioteche Civiche Torinesi sono inserite nel progetto qualità del Comune di Torino</p>

<p class="certificazione-box">Certificato ISO 9001 Carta della Qualità dei Servizi delle BCT Indagine 2017 di customer satisfaction sulle BCT Segnalazioni e Reclami</p>
</div>
</div>
      
    </div>
  

  </div>


  <div id="block-menufooter-2" class="block block-system block-system-menu-blockmenu-footer">

  
    
      <div class="content">
      
              <ul data-region="footer_bottom" class="nav">
                          <li class="nav-item">
                        <a href="" class="nav-link">Intracom</a>
        
      </li>
                      <li class="nav-item">
                        <a href="" class="nav-link">Progetto qualità</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>

  </div>


          </div>

    </div>
  </footer>
  </div>

  </div>

    <div class="off-canvas-wrapper"><div id="off-canvas">


    <ul class="menu menu-- nav"">
      

    <li class="menu-item">
       <a href="/" class="nav-link dropdown-toggle" data-toggle="dropdown">Libri e media</a>
     <div class="dropdown-menu dropdown-fullwidth megamenu">
       
    
  <div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-0 menu-type-default">
                <div class="layout layout--threecol-section layout--threecol-section--50-25-25">

          <div  class="layout__region layout__region--first">
        

  <div class="block block-block-content block-block-content013cbd4b-7bad-47f9-96a9-21b46ed362ca block-content-basic">

  
      <h2>Catalogo online</h2>
    
      <div class="content">
      
            <div class="field field--name-body field--type-text-with-summary"><div class="block-sottomenu-megamenu">
<p>Scopri tutti i nostri libri all'interno del catalogo online.</p>

<div class="action">
<ul><li><a class="bttn_sec" href="#">scopri</a></li>
	<li><a class="bttn_primy" href="https://bct.comperio.it/">Vai al catalogo</a></li>
</ul></div>
</div>
</div>
      
    </div>
  

  </div>


  <div class="block block-block-content block-block-contentf22d6ecc-f53d-4b4a-bce8-88ead372799f block-content-basic">

  
      <h2>Media Library OnLine</h2>
    
      <div class="content">
      
            <div class="field field--name-body field--type-text-with-summary"><div class="block-sottomenu-megamenu">
<p>Il prestito digitale delle Biblioteche Civiche Torinese</p>

<div class="action">
<ul><li><a class="bttn_sec" href="#">scopri</a></li>
	<li><a class="bttn_primy" href="https://bct.medialibrary.it/media/ricerca.aspx">Vai al MLOL</a></li>
</ul></div>
</div>
</div>
      
    </div>
  

  </div>

      </div>
    
          <div  class="layout__region layout__region--second">
        

  <div class="block block-block-content block-block-contentcb4de595-cd87-47cc-8b05-ff6bb261e607 block-content-titololink">

  
    
      <div class="content">
      
            <div class="field field--name-field-collegamento field--type-link"><a href="/libri-media">SCEGLI</a></div>
      
    </div>
  

  </div>


  <div class="block block-system block-system-menu-blockscegli">

  
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <a href="/libri-media/libri" class="nav-link" data-drupal-link-system-path="node/537">Libri</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/libri-media/giornali-e-periodici" class="nav-link" data-drupal-link-system-path="node/136">Giornali e periodici</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/libri-media/audio-musica" class="nav-link">Musica</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/libri-media/audio-musicali" class="nav-link">Audio musica</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/libri-media/audiolibri" class="nav-link" data-drupal-link-system-path="node/535">Audiolibri</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/libri-media/periodici" class="nav-link">Periodici</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/libri-media/video" class="nav-link" data-drupal-link-system-path="node/536">Video</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
          <div  class="layout__region layout__region--third">
        

  <div class="block block-system block-system-menu-blockscopri">

  
      <h2>Scopri</h2>
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <a href="/bibliografie" class="nav-link" data-drupal-link-system-path="bibliografie">Proposte bibliografiche</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/proposte-lettura" class="nav-link" data-drupal-link-system-path="proposte-lettura">Percorsi di lettura</a>
        
      </li>
                      <li class="nav-item">
                        <a href="https://bct.comperio.it/community/forum/reviews/" class="nav-link">I vostri consigli</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
  </div>
  <div class="layout layout--onecol">
    <div  class="layout__region layout__region--content">
      
    </div>
  </div>

      </div>



     </div>
    </li>
      

    <li class="menu-item">
       <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Sedi e servizi</a>
     <div class="dropdown-menu dropdown-fullwidth megamenu">
       
    
  <div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-0 menu-type-default">
                <div class="layout layout--twocol-section layout--twocol-section--50-50">

          <div  class="layout__region layout__region--first">
        

  <div class="block block-block-content block-block-content7cfd88b7-7180-4a6d-a068-1d1afdbb61a3 block-content-titololink">

  
    
      <div class="content">
      
            <div class="field field--name-field-collegamento field--type-link"><a href="/sedi-orari">SEDI E ORARI</a></div>
      
    </div>
  

  </div>


  <div class="block block-system block-system-menu-blocksedi-e-orari">

  
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <a href="/sedi-orari/villa-amoretti" class="nav-link" data-drupal-link-system-path="node/154"> Villa Amoretti</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/alberto-geisser" class="nav-link" data-drupal-link-system-path="node/494">Alberto Geisser</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/alessandro-passerin-dentreves" class="nav-link" data-drupal-link-system-path="node/200">Alessandro Passerin d&#039;Entrevès</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/bianca-guidetti-serra" class="nav-link" data-drupal-link-system-path="node/7">Bianca Guidetti Serra</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/bibliobus" class="nav-link" data-drupal-link-system-path="node/2">Bibliobus</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/cascina-marchesa" class="nav-link" data-drupal-link-system-path="node/45">Cascina Marchesa</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/centrale" class="nav-link" data-drupal-link-system-path="node/16">Centrale</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/cesare-pavese" class="nav-link" data-drupal-link-system-path="node/19">Cesare Pavese</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/dietrich-bonhoeffer" class="nav-link" data-drupal-link-system-path="node/36">Dietrich Bonhoeffer</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/don-lorenzo-milani" class="nav-link" data-drupal-link-system-path="node/17">Don Lorenzo Milani</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/francesco-cognasso" class="nav-link" data-drupal-link-system-path="node/201">Francesco Cognasso</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/i-ragazzi-e-le-ragazze-di-utoya" class="nav-link" data-drupal-link-system-path="node/198">I ragazzi e le ragazze di Utøya</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/italo-calvino" class="nav-link" data-drupal-link-system-path="node/31">Italo Calvino</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/luigi-carluccio" class="nav-link" data-drupal-link-system-path="node/158">Luigo Carluccio</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/mausoleo-della-bela-rosin" class="nav-link" data-drupal-link-system-path="node/37">Mausoleo della Bela Rosin</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/andrea-della-corte" class="nav-link" data-drupal-link-system-path="node/8">Musicale Andrea Della Corte</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/natalia-ginzburg" class="nav-link" data-drupal-link-system-path="node/20">Natalia Ginzburg</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/primo-levi" class="nav-link" data-drupal-link-system-path="node/141">Primo Levi</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/sedi-orari/rita-atria" class="nav-link" data-drupal-link-system-path="node/95">Rita Atria</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
          <div  class="layout__region layout__region--second">
        

  <div class="block block-block-content block-block-content6e88d600-9642-4a40-a486-40ad4c7348b5 block-content-titololink">

  
    
      <div class="content">
      
            <div class="field field--name-field-collegamento field--type-link"><a href="/servizi-dotazioni">USARE LA BIBLIOTECA</a></div>
      
    </div>
  

  </div>


  <div class="block block-system block-system-menu-blockusare-la-biblioteca">

  
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <a href="/faq" class="nav-link" data-drupal-link-system-path="faq">FAQ</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/servizi-dotazioni/informazioni-bibliografiche-di-base" class="nav-link" data-drupal-link-system-path="taxonomy/term/135">Informazioni bibliografiche</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/servizi-dotazioni/accesso-freetorinowifi" class="nav-link" data-drupal-link-system-path="taxonomy/term/136">Wifi</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/servizi-dotazioni/navigazione-internet" class="nav-link" data-drupal-link-system-path="taxonomy/term/160">Postazioni internet</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/servizi-dotazioni/iscrizione" class="nav-link" data-drupal-link-system-path="taxonomy/term/157">Fare la tessera</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/servizi-dotazioni/prestito-e-restituzione" class="nav-link" data-drupal-link-system-path="taxonomy/term/134">Prestito e prenotazioni</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/servizi-dotazioni/prestito-interbibliotecario" class="nav-link" data-drupal-link-system-path="taxonomy/term/137">Prestito interbibliotecario</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/servizi-dotazioni/fotocopie-self-service" class="nav-link" data-drupal-link-system-path="taxonomy/term/138">Copie e riproduzioni</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/servizi-dotazioni/aule-informatiche" class="nav-link" data-drupal-link-system-path="taxonomy/term/156">Aule informatiche</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/servizi-dotazioni/visite-guidate" class="nav-link" data-drupal-link-system-path="taxonomy/term/155">Visitare la biblioteca</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
  </div>
  <div class="layout layout--onecol">
    <div  class="layout__region layout__region--content">
      
    </div>
  </div>

      </div>



     </div>
    </li>
      

    <li class="menu-item">
       <a href="/" class="nav-link dropdown-toggle" data-toggle="dropdown">Eventi e attività</a>
     <div class="dropdown-menu dropdown-fullwidth megamenu">
       
    
  <div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-0 menu-type-default">
                <div class="layout layout--twocol-section layout--twocol-section--50-50">

          <div  class="layout__region layout__region--first">
        

  <div class="block block-block-content block-block-contentcc8761d7-d204-4e60-a176-57756c6a6375 block-content-basic">

  
      <h2>Calendario</h2>
    
      <div class="content">
      
            <div class="field field--name-body field--type-text-with-summary"><div class="block-sottomenu-megamenu">
<p>Accedi al calendario per vedere tutti gli eventi in programma nelle biblioteche Civiche Torinese</p>

<div class="action">
<ul><li><a class="bttn_sec" href="#">Oggi</a></li>
	<li><a class="bttn_sec" href="#">Domani</a></li>
</ul></div>

<div class="action">
<ul><li><a class="bttn_primy" href="/eventi-attivita">Calendario</a></li>
</ul></div>
</div>
</div>
      
    </div>
  

  </div>

      </div>
    
          <div  class="layout__region layout__region--second">
        

  <div class="block block-system block-system-menu-blocktipologie">

  
      <h2>Tipologie</h2>
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <span class="nav-link">Concerti e spettacoli</span>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">Conferenze</span>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">Consulenze professionali</span>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">Corsi e laboratori</span>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">Gruppi di lettura</span>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">Lettura ad alta voce</span>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">Manifestazioni</span>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">Mostre</span>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
  </div>
  <div class="layout layout--onecol">
    <div >
      
    </div>
  </div>

      </div>



     </div>
    </li>
      

    <li class="menu-item">
       <a href="/" class="nav-link dropdown-toggle" data-toggle="dropdown">Programmi e progetti</a>
     <div class="dropdown-menu dropdown-fullwidth megamenu">
       
    
  <div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-0 menu-type-default">
                <div class="layout layout--twocol-section layout--twocol-section--50-50">

          <div  class="layout__region layout__region--first">
        

  <div class="block block-block-content block-block-content591fe055-74c8-46f3-bb5e-8090550e33ab block-content-titololink">

  
    
      <div class="content">
      
            <div class="field field--name-field-collegamento field--type-link"><a href="/programmi">PROGRAMMI DELLE BIBLIOTECHE</a></div>
      
    </div>
  

  </div>


  <div class="block block-system block-system-menu-blockprogrammi-delle-biblioteche">

  
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <a href="/programmi-progetti/programma/nati-leggere" class="nav-link" data-drupal-link-system-path="node/74">Nati per leggere</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/programma/appuntamenti-bambini-e-famiglie" class="nav-link" data-drupal-link-system-path="node/142">Appuntamenti per bambini e famiglie</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/programma/un-aiuto-lo-studio" class="nav-link" data-drupal-link-system-path="node/145">Un aiuto per lo studio</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/programma/biblioteche-e-scuole" class="nav-link" data-drupal-link-system-path="node/92">Biblioteche e scuole</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/programma/manualmente-laboratori-creativi" class="nav-link" data-drupal-link-system-path="node/147">Manualmente</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/programma/gruppi-di-lettura" class="nav-link" data-drupal-link-system-path="node/148">Gruppi di lettura</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/programma/educazione-digitale" class="nav-link" data-drupal-link-system-path="node/149">Educazione digitale</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/programma/babele-imparare-le-lingue-e-coltivarle" class="nav-link" data-drupal-link-system-path="node/150">Imparare le lingue e coltivarle</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/programma/lesperto-risponde" class="nav-link" data-drupal-link-system-path="node/151">L&#039;esperto risponde</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/programma/lettura-accessibile" class="nav-link" data-drupal-link-system-path="node/168">Lettura accessibile</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/programma/goethe-punkt" class="nav-link" data-drupal-link-system-path="node/152">Goethe Punkt</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
          <div  class="layout__region layout__region--second">
        

  <div class="block block-block-content block-block-contenta5eac682-18da-408b-9fde-41c2a79cc931 block-content-titololink">

  
    
      <div class="content">
      
            <div class="field field--name-field-collegamento field--type-link"><a href="/progetti">PROGETTI DI PROMOZIONE DELLA LETTURA</a></div>
      
    </div>
  

  </div>


  <div class="block block-system block-system-menu-blockprogetti-promozione-lettura">

  
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <a href="/programmi-progetti/progetto/leggermente" class="nav-link" data-drupal-link-system-path="node/513">Leggermente</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/progetto/passaggio-nord-ovest" class="nav-link" data-drupal-link-system-path="node/512">Passaggio a Nord Ovest</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/progetto/le-bct-portici-di-carta" class="nav-link" data-drupal-link-system-path="node/509">Le BCT per Portici di carta</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/progetto/le-bct-aspettando-il-salone-internazionale-del-libro" class="nav-link" data-drupal-link-system-path="node/511">Le BCT per Aspettando il Salone</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/progetto/le-bct-al-salone-internazionale-del-libro" class="nav-link" data-drupal-link-system-path="node/510">Le BCT per il Salone del libro</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/progetto/torino-che-legge" class="nav-link" data-drupal-link-system-path="node/1">Torino che legge</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
  </div>

      </div>



     </div>
    </li>
      

    <li class="menu-item">
       <a href="/" class="nav-link dropdown-toggle" data-toggle="dropdown">Infanzia e giovani</a>
     <div class="dropdown-menu dropdown-fullwidth megamenu">
       
    
  <div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-0 menu-type-default">
                <div class="layout layout--fourcol-section">

          <div  class="layout__region layout__region--first">
        

  <div class="block block-block-content block-block-content8454287d-5311-4206-baae-5993922e1558 block-content-basic">

  
      <h2>Scopri il catalogo per ragazzi</h2>
    
      <div class="content">
      
            <div class="field field--name-body field--type-text-with-summary"><div class="block-sottomenu-megamenu">
<p>Scopri tutti i libri dedicati ai bambini e ragazzi all'interno del catalogo online.</p>

<div class="action">
<ul><li><a class="bttn_sec" href="#">scopri</a></li>
	<li><a class="bttn_primy" href="#">Vai al catalogo</a></li>
</ul></div>
</div></div>
      
    </div>
  

  </div>


  <div class="block block-block-content block-block-content94b30076-db46-47c2-9d09-125d82c7df5f block-content-basic">

  
      <h2>Calendario</h2>
    
      <div class="content">
      
            <div class="field field--name-body field--type-text-with-summary"><div class="block-sottomenu-megamenu">
<p>Tutti gli appuntamenti dedicati ai bambini</p>

<div class="action">
<ul><li><a class="bttn_primy" href="#">Calendario</a></li>
</ul></div>
</div></div>
      
    </div>
  

  </div>

      </div>
    
          <div  class="layout__region layout__region--second">
        

  <div class="block block-block-content block-block-content2801d61f-6dec-4f85-8c31-e99ace8dd2e9 block-content-titololink">

  
    
      <div class="content">
      
            <div class="field field--name-field-collegamento field--type-link"><a href="/in-biblioteca-trovi">IN BIBLIOTECA TROVI</a></div>
      
    </div>
  

  </div>


  <div class="block block-system block-system-menu-blockin-biblioteca-trovi">

  
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <a href="/libri-media/da-sei-dieci-anni" class="nav-link">Da Sei a Dieci</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/libri-media/da-undici-quindici" class="nav-link">Da Undici a Quindici</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/libri-media/da-zero-cinque-anni" class="nav-link">Da Zero a Cinque</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/libri-media/giovani-adulti" class="nav-link">Giovani Adulti</a>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">libri ad alta leggibilità</span>
        
      </li>
                      <li class="nav-item">
                        <a href="/proposte-lettura/libri-bambini-adattati-simboli-caa" class="nav-link" data-drupal-link-system-path="node/172">libri in simboli caa</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
          <div  class="layout__region layout__region--third">
        

  <div class="block block-block-content block-block-contentd0dd2d85-ea8e-4709-a2a7-2d05d5fc5434 block-content-titololink">

  
    
      <div class="content">
      
            <div class="field field--name-field-collegamento field--type-link"><a href="/biblioteca-per-te">LA BIBLILOTECA PER TE</a></div>
      
    </div>
  

  </div>


  <div class="block block-system block-system-menu-blockin-biblioteca-puoi">

  
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <a href="/tessera-e-prestito-da-zero-diciotto-anni" class="nav-link" data-drupal-link-system-path="node/478">Tessera e prestito</a>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">Prendere in prestito</span>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">Ascoltare storie</span>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">Fare attività</span>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">Fare i compiti</span>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
          <div  class="layout__region layout__region--fourth">
        

  <div class="block block-block-content block-block-content368c3fe1-4e60-4daa-885b-7e14f856e618 block-content-titololink">

  
    
      <div class="content">
      
            <div class="field field--name-field-collegamento field--type-link"><a href="/per-insegnanti-genitori">PER INSEGNANTI E GENITORI</a></div>
      
    </div>
  

  </div>


  <div class="block block-system block-system-menu-blockprogrammi">

  
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <a href="/programmi-progetti/programma/nati-leggere" class="nav-link" data-drupal-link-system-path="node/74">Nati per leggere</a>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">Libri per tutti</span>
        
      </li>
                      <li class="nav-item">
                        <a href="/programmi-progetti/programma/biblioteche-e-scuole" class="nav-link" data-drupal-link-system-path="node/92">Biblioteche e scuole</a>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">Alternanza scuola lavoro</span>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
  </div>

      </div>



     </div>
    </li>
      

    <li class="menu-item">
       <a href="/" class="nav-link dropdown-toggle" data-toggle="dropdown">Raccolte storiche e locali</a>
     <div class="dropdown-menu dropdown-fullwidth megamenu">
       
    
  <div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-0 menu-type-default">
                <div class="layout layout--threecol-section layout--threecol-section--33-34-33">

          <div  class="layout__region layout__region--first">
        

  <div class="block block-block-content block-block-contentca43e668-b6e7-49a8-8cab-75c0e37de9ab block-content-titololink">

  
    
      <div class="content">
      
            <div class="field field--name-field-collegamento field--type-link"><a href="/manoscritti">MANOSCRITTI E RARI</a></div>
      
    </div>
  

  </div>


  <div class="block block-system block-system-menu-blockmanoscritti-e-rari">

  
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <a href="/elenco-manoscritti" class="nav-link">Manoscritti</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/edizioni-antiche" class="nav-link" data-drupal-link-system-path="node/24">Edizioni antiche</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/fondi-personali" class="nav-link" data-drupal-link-system-path="node/25">Fondi personali</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/fondi-archivistici" class="nav-link" data-drupal-link-system-path="node/26">Fondi archivistici</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/carteggi" class="nav-link" data-drupal-link-system-path="node/27">Carteggi</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/raccolte-di-autografi" class="nav-link" data-drupal-link-system-path="node/28">Raccolte di autografi</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/materiale-fotografico" class="nav-link" data-drupal-link-system-path="node/29">Materiale fotografico</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/materiale-cartografico" class="nav-link" data-drupal-link-system-path="node/30">Materiale cartografico</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
          <div  class="layout__region layout__region--second">
        

  <div class="block block-block-content block-block-content4792d0ae-b767-4aa0-af8d-180d5151af77 block-content-titololink">

  
    
      <div class="content">
      
            <div class="field field--name-field-collegamento field--type-link"><a href="/archivi-digitali">ARCHIVI DIGITALI</a></div>
      
    </div>
  

  </div>


  <div class="block block-system block-system-menu-blockarchivi-digitali">

  
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <span class="nav-link">Internet archive</span>
        
      </li>
                      <li class="nav-item">
                        <a href="/repertorio-bio-iconografico" class="nav-link" data-drupal-link-system-path="node/88">Bio-Iconografico</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/biblioteca-della-pro-cultura-femminile" class="nav-link" data-drupal-link-system-path="node/89">Pro Cultura Femminile</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/museotorino" class="nav-link" data-drupal-link-system-path="node/144">MuseoTorino</a>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">Piattaforma digitale del Politecnico di Torino</span>
        
      </li>
                      <li class="nav-item">
                        <span class="nav-link">Piattaforma digitale dell&#039;Università di Torino</span>
        
      </li>
                      <li class="nav-item">
                        <a href="/altri-archivi-0" class="nav-link" data-drupal-link-system-path="node/556">Altri archivi</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
          <div  class="layout__region layout__region--third">
        

  <div class="block block-block-content block-block-content01463366-28b7-4d25-be4c-dc0f4f8e0ae4 block-content-titololink">

  
    
      <div class="content">
      
            <div class="field field--name-field-collegamento field--type-link"><a href="/sedi-orari/centrale/ufficio-studi-locali-e-digitalizzazione-conservativa">STUDI LOCALI</a></div>
      
    </div>
  

  </div>


  <div class="block block-system block-system-menu-blockstudi-locali">

  
    
      <div class="content">
      
              <ul class="nav">
                          <li class="nav-item">
                        <span class="nav-link">Risorse documentarie</span>
        
      </li>
                      <li class="nav-item">
                        <a href="/centrale/ufficio-studi-locali-e-digitalizzazione-conservativa" class="nav-link">Bibliografie di argomento locale</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/catalogazione-analitica-dei-periodici-di-interesse-locale" class="nav-link" data-drupal-link-system-path="node/87">Catalogazione analitica dei periodici di interesse locale</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/collaborazioni" class="nav-link" data-drupal-link-system-path="node/139">Collaborazioni</a>
        
      </li>
                      <li class="nav-item">
                        <a href="/deposito-legale" class="nav-link" data-drupal-link-system-path="node/538">Deposito legale</a>
        
      </li>
        </ul>
  


    </div>
  

  </div>

      </div>
    
  </div>

      </div>



     </div>
    </li>
    </ul>

</div></div>
	<!--js di html-->
    <script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/","scriptPath":null,"pathPrefix":"","currentPath":"node\/1153","currentPathIsAdmin":false,"isFront":false,"currentLanguage":"it"},"pluralDelimiter":"\u0003","suppressDeprecationErrors":true,"responsive_menu":{"position":"right","theme":"theme-white","pagedim":"pagedim-black","breakpoint":"(min-width: 960px)","extension_keyboard":true,"superfish":{"active":false,"delay":300,"speed":100,"speedOut":100}},"ajaxTrustedUrl":{"\/search\/node":true},"user":{"uid":0,"permissionsHash":"f2a8c90a66e296d629d86c5c9953078a491ee72d7d88302e30e711edc045072f"}}</script>
<script src="/sites/default/files/js/js__XieYIgWLZLekoqglfIPg4CS7JCPo2v2SUvHeW9u07o.js"></script>

		<!--FINE js di html-->
  </body>
</html>
