<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
 
<html lang="it">
<head>
<title>Catalogo dei libri parlati - BCT</title>

<script type="text/javascript">global_titolo='';global_autore=''</script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<meta name="description" content="Catalogo dei libri parlati delle Biblioteca civica centrale di Torino">
<meta name="keywords" content="libro parlato libri parlati biblioteca civica torino bct">
<meta name="language" content="IT">

<link rel="stylesheet" type="text/css" href="/libroparlato.css">

<!--
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
-->

<!--[if IE]>
<link rel="stylesheet" type="text/css" href="/libroparlato_ie.css">
<![endif]-->

</head>


<body>

 <div id="mainpage">
   <img alt="CATALOGO DEI LIBRI PARLATI" src="/libroparlato_titolo.png" />
</div>

 <%= yield %>
</div>


<!--#endif -->

</body>
</html>
