

<div class="container">
  <div class="jumbotron">
    <h1>Biblioteche civiche torinesi</h1>
    <h2>Catalogo del libro parlato</h2>

    <p>L&#39;accesso al download o al prestito dei libri parlati &egrave; riservato agli utenti con disabilità visiva accertata o difficoltà di lettura comprovate. L&#39;iscrizione al servizio pu&ograve; essere richiesta anche online compilando il&nbsp;seguente&nbsp;<a href="https://form.jotform.com/200957006481352">modulo di iscrizione</a>.
    </p>

    <p>Agli utenti iscritti al servizio viene rilasciata una password e un nome utente (username) che permettono&nbsp;di accedere direttamente dalle schede dei libri al&nbsp;download delle tracce digitali (file mp3&nbsp;compressi in cartelle zip).
    </p>

    <p>Compilando il seguente modulo di ricerca puoi indicare nel primo campo il titolo o l’ autore e quindi&nbsp;selezionare i&nbsp;formati desiderati: libri parlati digitali scaricabili, libri parlati digitali&nbsp;su cd&nbsp;o libri parlati su audiocassette. Non specificando alcun termine&nbsp;otterrai tutti i risultati disponibili.
    </p>

    <h3>Compila il modulo di ricerca</h3>

    <form accept-charset="UTF-8" action="https://clavisbct.comperio.it/talking_books" method="get">
      <div style="margin:0;padding:0;display:inline">
	<input name="utf8" type="hidden" value="✓" />
      </div>
      <p>
	<input id="qs" name="qs" type="text" value="" /> <label for="qs">&nbsp;indica autore o titolo</label>
      </p>

      <p>
	<input id="digitalized" name="digitalized" type="checkbox" value="yes" /> <label for="digitalized">digitalizzati scaricabili</label>
      </p>

      <p>
	<input id="cdmp3" name="cdmp3" type="checkbox" value="yes" />&nbsp;digitalizzati su CD
      </p>
      <p>&nbsp;
	<input name="commit" type="submit" value="Cerca" />&nbsp;
      </p>
    </form>
  </div>
</div>

<!-- /container -->
